<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <canvas id="canvas"></canvas>
    <canvas id="resultado"></canvas>

    <script type="text/javascript">

        var image = new Image();
        image.onload = imageLoaded;
        image.src = "../src/Fuente_de_Cibeles.jpeg"; // asegúrate de que la imagen esté en la misma carpeta

        function imageLoaded() {
            var canvas = document.getElementById('canvas');
            var ctx = canvas.getContext("2d");

            canvas.width = image.width;
            canvas.height = image.height;
            ctx.drawImage(image, 0, 0, image.width, image.height);

            blancoYNegro(canvas);

            var resultado = document.getElementById('resultado');
            convolucionar(canvas,resultado);
        }

        function blancoYNegro(canvas){
            var ctx = canvas.getContext("2d");
            var imgData = ctx.getImageData(0, 0, canvas.width, canvas.height);
            var pixeles = imgData.data;
            
            for (var p = 0 ; p < pixeles.length; p +=4){
                var rojo = pixeles[p];
                var verde = pixeles[p + 1];
                var azul = pixeles[p + 2];

                var gris = (rojo + verde + azul)/3;
                
                pixeles[p] = gris;
                pixeles[p + 1] = gris;
                pixeles[p + 2] = gris;
            }

            ctx.putImageData(imgData, 0, 0);
        }
        
        function convolucionar(canvasFuente, canvasDestino){
            // obtener todas la variables necesarias
            var ctxFuente = canvasFuente.getContext('2d');
            var imgDataFuente = ctxFuente.getImageData(0, 0, canvasFuente.width, canvasFuente.height);
            var pixelesFuente =imgDataFuente.data;
            
            canvasDestino.width = canvasFuente.width;
            canvasDestino.height = canvasFuente.height;
            
            var ctxDestino = canvasDestino.getContext('2d');
            var imgDataDestino = ctxDestino.getImageData(0, 0, canvasDestino.width, canvasDestino.height);
            var pixelesDestino = imgDataDestino.data;
            // Nucelo o kernel
            var SobelVertical = [
                [-1, 0, 1],
                [-2, 0, 2],
                [-1, 0, 1]
            ];
            
            var SobelHoritzontal = [
                [-1, -2, -1],
                [0, 0, 0],
                [1, 2, 1]
            ];
            
            for (var y = 1; y < canvasFuente.height -1; y++){
                for (var x = 1 ; x < canvasFuente.width -1; x++){
                    // Posición en el arreglo de javascript
                    var idx = (( y * canvasFuente.width) + x) * 4;
                    /*
                    for (var kernel_y = 0; kernel_y < 3; kernel_y++){
                        for (var kernel_x = 0; kernel_x < 3; kernel_x++){
                            var total_y = 0; var total_x = 0;
                            var resultado_y = SovelVertical[kernel_y][kernel_x] * pixelesFuente[((((y + (kernel_y - 1)) * canvasFuente.width) + (x + (kernel_x - 1))) * 4)];
                            var resultado_x = SovelHoritzontal[kernel_y][kernel_x] * pixelesFuente[((((y + (kernel_y - 1)) * canvasFuente.width) + (x + (kernel_x - 1))) * 4)];
                        }
                    }
                    */
                    // convolución con Sovel Vertical
                    var casillaY1 = SobelVertical[0][0] * pixelesFuente[((((y -1) * canvasFuente.width) + (x - 1)) * 4)];
                    var casillaY2 = SobelVertical[0][1] * pixelesFuente[((((y -1) * canvasFuente.width) + (x)) * 4)];
                    var casillaY3 = SobelVertical[0][2] * pixelesFuente[((((y -1) * canvasFuente.width) + (x + 1)) * 4)];

                    var casillaY4 = SobelVertical[1][0] * pixelesFuente[((((y) * canvasFuente.width) + (x - 1)) * 4)];
                    var casillaY5 = SobelVertical[1][1] * pixelesFuente[((((y) * canvasFuente.width) + (x)) * 4)];
                    var casillaY6 = SobelVertical[1][2] * pixelesFuente[((((y) * canvasFuente.width) + (x + 1)) * 4)];

                    var casillaY7 = SobelVertical[2][0] * pixelesFuente[((((y +1) * canvasFuente.width) + (x - 1)) * 4)];
                    var casillaY8 = SobelVertical[2][1] * pixelesFuente[((((y +1) * canvasFuente.width) + (x)) * 4)];
                    var casillaY9 = SobelVertical[2][2] * pixelesFuente[((((y +1) * canvasFuente.width) + (x + 1)) * 4)];
                    
                    var resultadoY = casillaY1 + casillaY2 + casillaY3 + casillaY4 + casillaY5 + casillaY6 + casillaY7 + casillaY8 + casillaY9;

                    // convolución con Sobel Horizontal
                    var casillaX1 = SobelHoritzontal[0][0] * pixelesFuente[((((y -1) * canvasFuente.width) + (x - 1)) * 4)];
                    var casillaX2 = SobelHoritzontal[0][1] * pixelesFuente[((((y -1) * canvasFuente.width) + (x)) * 4)];
                    var casillaX3 = SobelHoritzontal[0][2] * pixelesFuente[((((y -1) * canvasFuente.width) + (x + 1)) * 4)];

                    var casillaX4 = SobelHoritzontal[1][0] * pixelesFuente[((((y) * canvasFuente.width) + (x - 1)) * 4)];
                    var casillaX5 = SobelHoritzontal[1][1] * pixelesFuente[((((y) * canvasFuente.width) + (x)) * 4)];
                    var casillaX6 = SobelHoritzontal[1][2] * pixelesFuente[((((y) * canvasFuente.width) + (x + 1)) * 4)];

                    var casillaX7 = SobelHoritzontal[2][0] * pixelesFuente[((((y +1) * canvasFuente.width) + (x - 1)) * 4)];
                    var casillaX8 = SobelHoritzontal[2][1] * pixelesFuente[((((y +1) * canvasFuente.width) + (x)) * 4)];
                    var casillaX9 = SobelHoritzontal[2][2] * pixelesFuente[((((y +1) * canvasFuente.width) + (x + 1)) * 4)];
                    
                    var resultadoX = casillaX1 + casillaX2 + casillaX3 + casillaX4 + casillaX5 + casillaX6 + casillaX7 + casillaX8 + casillaX9;
                    
                    var mag = Math.sqrt((resultadoX * resultadoX) + (resultadoY * resultadoY));
                    mag = Math.min(255, Math.max(0, mag));
                    
                    pixelesDestino[idx] = mag; // Rojo
                    pixelesDestino[idx + 1] = mag; // Verde
                    pixelesDestino[idx + 2] = mag; // Azul
                    pixelesDestino[idx + 3] = 255; // Alfa
                }
            }
            ctxDestino.putImageData(imgDataDestino, 0, 0);
        }
    </script>
</body>
</html>

